<!-- create special report -->

<h1>Add new special report</h1>
<%= form_for :special_report, url: create_special_report_path(@description.id), html: {class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <label class="control-label col-sm-3" for="email">Title:</label>
    <div class="col-sm-9">
    	<%= f.text_field :title, :class => 'form-control'%>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3" >Final diagnosis:</label>
    <div class="col-sm-9"> 
      <%= f.text_field :final_diagnosis, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3" >Gross description:</label>
    <div class="col-sm-9"> 
      <%= f.text_field :gross_description, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3" >Block code:</label>
    <div class="col-sm-9"> 
      <select name="special_report[blockcode]" class="form-control">
      	<% BlockCode.all.each do |blockcode| %>
      		<option value="<%= blockcode.id %>"><%= blockcode.block_description %></option>      	
      	<% end %>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3" >Micropscopic description:</label>
    <div class="col-sm-9"> 
      <%= f.text_area :microscopic_description, :class => 'form-control', rows: 10 %>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3" for="pwd">Assign to:</label>
    <div class="col-sm-9"> 
      <select name="special_report[assign]" class="form-control">
      	<% User.all.each do |user| %>
      		<option value="<%= user.id %>"><%= user.email %></option>      	
      	<% end %>
      </select>
    </div>
  </div>
  <br>
  <div class="form-group"> 
    <div class="col-sm-offset-3 col-sm-10">
      <button type="submit" class="btn btn-primary">Save and Exit</button>
    </div>   
  </div>  
<% end %>